# Ignore everything
*

# Unignore rules
!requirements.txt
!*.cpp
!*.h
!README.md
!.gitignore
!*.py
!*.gif
!src/
!src/**
!include/
!include/**
!results/
!results/**
!plotting_scripts
!plotting_scripts/**/
!CMakeLists.txt